<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dsc.jk.mapper.RolePermissionRelMapper">

    <!-- Base Result Map -->
    <resultMap id="baseResultMap" type="cn.dsc.jk.entity.RolePermissionRelEntity">
        <result column="role_id" property="roleId" jdbcType="BIGINT"/>
        <result column="permission_id" property="permissionId" jdbcType="BIGINT"/>
    </resultMap>

    <!-- Base Column List -->
    <sql id="Base_Column_List">
        role_id,
        permission_id
    </sql>

    <!-- Select permission IDs by role ID -->
    <select id="selectPermissionIdsByRoleId" resultType="java.lang.Long">
        SELECT permission_id
        FROM role_permission
        WHERE role_id = #{roleId}
    </select>

    <!-- Select role IDs by permission ID -->
    <select id="selectRoleIdsByPermissionId" resultType="java.lang.Long">
        SELECT role_id
        FROM role_permission
        WHERE permission_id = #{permissionId}
    </select>

    <!-- Delete by role ID -->
    <delete id="deleteByRoleId">
        DELETE FROM role_permission
        WHERE role_id = #{roleId}
    </delete>

    <!-- Batch insert -->
    <insert id="insertBatch">
        INSERT INTO role_permission
        (role_id, permission_id)
        VALUES
        <foreach collection="rolePermissions" item="rolePermission" separator=",">
            (#{rolePermission.roleId}, #{rolePermission.permissionId})
        </foreach>
    </insert>
</mapper>
